*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    align-items: center;
    background: #007bff;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0 15px;
}
.input_box{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border-radius: 6px;
    height: 160px;
    max-width: 560px;
    position: relative;
    padding: 30px;
    width: 100%;
}
.input_box textarea{
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    caret-color: #007bff;
    font-size: 15px;
    font-weight: 500;
    height: 100%;
    outline: none;
    padding: 25px 15px;
    resize: none;
    width: 100%;
}
.input_box textarea:focus,
.input_box textarea:valid{
    border-color: #007bff;
}
.input_box.error textarea{
    border-color: rgb(211, 80, 80);
}
.input_box textarea::placeholder{
    font-size: 15px;
    font-weight: 500;
}
.input_box.error .title{
    color: rgb(211, 80, 80);
}

.input_box .title{
    color: #007bff;
    left: 45px;
    position: absolute;
    top: 38px;
}
.input_box .chasracters{
    align-items: center;
    color: #007bff;
    display: flex;
    display: none;
    bottom: 35px;
    position: absolute;
    right: 45px;
}
.input_box.active .chasracters{
    display: block;
}
.input_box.error .chasracters{
    color: rgb(211, 80, 80);
}